.search-bar{
    display: flex;
}

.search{
    margin: 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: white;
  width: 500px;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}

.search-button{
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 6px;
    border: 1px solid #ccc;
    margin-left: -1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.search-button:hover{
    background-color: #e1e1e1;
    
}

.search-icon{
    width: 20px;
    
}